.logo {
    padding: 0;
    margin: 0;
    width: 100vw;
    text-align: center;
    background-color: #ffcfd2;
}
.navbar {
    width: 100vw;
    height: 10vmin;
    background-color: #fbf8cc;
    display: flex;
}
.navbar a {
    font-size: 3vmin;
    text-align: center;
    padding: 3vmin;
    color: #000000;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ffcfd2;
}
.navbar img {
    height: 10vmin;
    width:  calc(4 * 10vmin);
}
.navbar input {
    padding: 0;
    height: 5vmin;
    margin: 2.5vmin 1vmax;
    border-radius: 5vh;
    width: 10vw;
}
.slideshow {
    width: 100vw;
    text-align: center;
}
.slideshow img {
    width: 90vmin;
}
.itemDisplay {
    width: 15vmax;
    height: 20vmax;
    border: 2px solid #000000;
    margin: 10px 10px;
    display: inline-block;
    background-color: #fbf8cc;
}
.itemDisplay img {
    width: 15vmax;
    height: 15vmax;
}
.itemDisplay p {
    margin: 1vmax;
    text-align: center;
}
.itemViewBody img {
    width: 90vmin;
    height: 90vmin;
    float: left;
}
.itemViewBody {
    font-size: 2em;
}
.itemViewBody > * {
    display: inline;
}
.itemViewBody ul {
    text-indent: 0px;
    list-style-type: none;
}
.itemViewBody p {
    word-wrap: break-word;
}
.cost {
    background-color: #ffcfd2;
    width: fit-content;
    height: inherit;
}
.orderItem {
    display: flex;
}
.orderItem  * {
    display: inline;
    height: inherit;
    padding: 0px;
    font-size: 2em;
}
.orderItem input {
    margin: 17px 10px;
    background-color: #fde4cf;
    border: 2px solid #000000;
}
.orderItem button {
    margin: 17px 10px;
    background-color: #fbf8cc;
    border: 2px solid #000000;
}
.orderItem button:active {
    background-color: #dbd8bc;
}
#slideToggle {
    background-color: #fde4cf;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.cartItem {
    display: flex;
    width: fit-content;
    border: 1px solid #000000;
    background-color: #fbf8cc;
}
.cartItem > * {
    display: inline;
}
.cartItem > img {
    width: 30px;
    height: 30px;
    padding: 0px;
}
.itemName {
    font-size: 29px;
    text-align: center;
    margin: 0px 5px 0px 5px;
    height: 30px;
    background-color: #fbf8cc;
}
.itemQty {
    height: 26px;
    padding: 0px;
    margin: 0px;
    background-color: #fde4cf;
}
.itemCostEa {
    height: 30px;
    font-size: 29px;
    padding: 0px;
    margin: 0px 10px 0px 5px;
    background-color: #fbf8cc;
}
.itemCostTo {
    height: 30px;
    font-size: 29px;
    padding: 0px;
    margin: 0px;
    background-color: #ffcfd2;
}