.logo {
    width: 100%;
    text-align: center;
    background-color: #ffcfd2;
}
.navbar {
    width: 100%;
    height: 10vh;
    background-color: #fbf8cc;
    display: flex;
}
.navbar a {
    font-size: 3vh;
    color: #000000;
    text-decoration: none;
    padding: 3.5vh 1vw;
}
.navbar a:hover {
    background-color: #ffcfd2;
}
.navbar img {
    height: 10vh;
}
.navbar input {
    height: 5vh;
    margin: 2.5vh 1vw;
    border-radius: 5vh;
}
.cart {
    float: right;
}
.slideshow {
    width: 90%;
    text-align: center;
}
.itemDisplay {
    width: 150px;
    height: 175px;
    border: 2px solid #000000;
    margin: 10px 10px;
    display: inline-block;
}
.itemDisplay img {
    width: 150px;
    height: 150px;
}
.itemDisplay p {
    margin: 1px 1px;
    background-color: #fbf8cc;
    text-align: center;
}
.itemViewBody img {
    width: 500px;
    height: 500px;
    float: left;
    margin: 10px;
}
.itemViewBody > * {
    display: inline;
}
.itemViewBody ul {
    text-indent: 10px;
    list-style-type: none;
}
.itemViewBody p {
    width: 75%;
    word-wrap: break-word;
}
.cost {
    background-color: #ffcfd2;
    width: fit-content;
}
.orderItem {
    display: flex;
}
.orderItem > * {
    display: inline;
    height: inherit;
    padding: 0px;
}
.orderItem input {
    margin: 17px 10px;
    background-color: #fde4cf;
    border: 2px solid #000000;
}
.orderItem button {
    margin: 17px 10px;
    background-color: #fbf8cc;
    border: 2px solid #000000;
}
.orderItem button:active {
    background-color: #dbd8bc;
}
#slideToggle {
    background-color: #fde4cf;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.cartItem {
    display: flex;
    width: fit-content;
    border: 1px solid #000000;
    background-color: #fbf8cc;
}
.cartItem > * {
    display: inline;
}
.cartItem > img {
    width: 30px;
    height: 30px;
    padding: 0px;
}
.itemName {
    font-size: 29px;
    text-align: center;
    margin: 0px 5px 0px 5px;
    height: 30px;
    background-color: #fbf8cc;
}
.itemQty {
    height: 26px;
    padding: 0px;
    margin: 0px;
    background-color: #fde4cf;
}
.itemCostEa {
    height: 30px;
    font-size: 29px;
    padding: 0px;
    margin: 0px 10px 0px 5px;
    background-color: #fbf8cc;
}
.itemCostTo {
    height: 30px;
    font-size: 29px;
    padding: 0px;
    margin: 0px;
    background-color: #ffcfd2;
}